@import "tailwindcss";


@keyframes skill-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-skill-slide {
  animation: skill-slide 10s linear infinite;
}
